section {
    width: 100%; /*Largura*/
    max-width: 1200px; /*Largura Máxima*/
    margin: 0 auto;
}

.logo img {
    max-width: 100px;
}

.menu ul li  {
    display: inline;
    
}

header {
    padding: 20px 0;
}

.logo, .menu {
    display: inline-block;
}
.menu ul li a {
    color: #dc0502;
    text-decoration: none;
    padding: 0 25px;
    font-size: 20px;

}

.menu ul li a:hover {
    color: #000000;
    border-bottom: 3px solid #000000;
    padding-bottom: 15px;
}

.menu {
    position: relative;
    bottom: 40px;
}

.slider {
    background-image: url('../img/slider.jpeg');
    height: 500px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item {
    display: inline-block;
    width: 30%;
    margin: 1%;
}

.item img {
    width: 100%;
}